DATABASE_URL=postgresql://username:password@ep-host-name.us-east-2.aws.neon.tech/neondb?sslmode=require
JWT_SECRET=yoursecretkeyhere
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
